body {
  background-color: rgb(29, 41, 52);
  color: rgb(150, 245, 245):
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#container {
  text-align: center;
  font-size: 5vh;
  width: 12em;
}

#container > img {
  max-width: 100%;
  max-height: 12vh;
}

#download {
  margin-top: 0.5em;
}

#download > button {
  font-size: 3vh;
}
